/* Top background Box  */
header{
    background-color: white;
    margin: 0px;
    padding: 50px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    box-shadow: 0px 2px rgb(58, 58, 58)
}

/* My Name */
h1{
    text-align: center;
    line-height: 95px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    width: 300px;
    height: 100px;
    position: fixed;
    left: 420px;
    top: -21px;
    z-index: 1;
}
/* body  */
body{
    background-color: Gray;
    margin:auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Portfolio Box */
.pbox{
    background-color: white;
    width: 960px;
    height: 750px;
    position: fixed;
    left: 420px;
    top: 130px;
}
/* Portfolio text */
#p01{
    color: #4aaaa5;
    font-size: 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: absolute;
    left: 63px;
    top: 12px;
}
/* Line under portfolio */
hr{ 
    color: gray;
    position: relative;
    left: -1px;
    top: 80px;
    width: 850px;
}
/* SteveJobs Image */

#img1{
    width: 374px;
    height: 264px;
    position: absolute;
    left: 50px;
    top: 120px;
}

#steve{
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 47px;
    width: 374px;
    height: 50px;
    position: fixed;
    left: 470px;
    top: 431px;
}


/*  Mac Image */
#img2{
    width: 374px;
    height: 264px;
    position: absolute;
    left: 500px;
    top: 120px;
}

#mac{
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 47px;
    width: 374px;
    height: 50px;
    position: fixed;
    left: 940px;
    top: 431px;
}

/*  Headphone Image */
#img3{
    width: 374px;
    height: 264px;
    position: absolute;
    left: 50px;
    top: 440px;
}

#headphones{
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 47px;
    width: 374px;
    height: 50px;
    position: fixed;
    left: 470px;
    top: 754px;
}

/*  Apple watch Image */
#img4{
    width: 374px;
    height: 264px;
    position: absolute;
    left: 530px;
    top: 440px;
}

#applewatch{
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 47px;
    width: 374px;
    height: 50px;
    position: fixed;
    left: 940px;
    top: 754px;
}



#p03{
    color: gray;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    top: 380px;
    left: 50px;
}
/* About page button */
#about{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    z-index: 1;
    color: gray;
    position: fixed;
    left: 1076px;
    top: 26px;
}
/* Portfolio page button */
#portfolio{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    z-index: 1;
    color: gray;
    position: fixed;
    left: 1163px;
    top: 26px;
}
/* Contact page button */
#contact{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    z-index: 1;
    color: gray;
    position: fixed;
    left: 1257px;
    top: 26px;
}


/* About Vertical Line */

.vl{
    border-left: 1px solid rgb(243, 243, 243);
    height: 22px;
    position: fixed;
    left: 1139px;
    top: 40px;
    z-index: 1;
}

/* Portfolio Vertical Line */

.vertical2{
    border-left: 1px solid rgb(243, 243, 243);
    height: 22px;
    position: fixed;
    left: 1240px;
    top: 40px;
    z-index: 1;
}

/* Pseudoclass for links */
a:link{
    text-decoration: none;
}

a:active{
    color: red;
}

a:hover{
    color:blue;
}

/* Footer 'Copyright'*/
footer{
text-align: center;
line-height: 76px;
color: white;
background-color: rgb(80, 80, 80);
width: 100%;
height: 100px;
position: fixed;
left: 0px;
top: 908px;
}